.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.cadastro-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.cadastro-box h2 {
    color: #0078d4;
    margin-bottom: 20px;
    font-size: 2rem;
}

.cadastro-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #606060;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.input-group input:focus {
    outline: none;
    border-color: #0078d4;
}

.cta-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #369a39;
}

.login-link {
    margin-top: 20px;
    color: #606060;
}

.login-link a {
    color: #0078d4;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    color: #369a39;
    text-decoration: underline;
}
